// Desktop Size

@media (min-width: 376px) {
  body {
    background: $bg-top no-repeat top left, $bg-bottom no-repeat bottom right;
  }

  .social-panel {
    margin: 10rem;
    grid-template-columns: repeat(2, 2fr);

    .main {
      text-align: left;

      h1 {
        font-size: 40px;
        padding: 0 45% 0 0;
      }
      p {
        padding: 0.5rem 10rem 0 0;
      }
    }

    .rate {
      h3 {
        margin: 0 5rem 0 2rem;
        span {
          display: inline-block;
          margin-right: 2rem;
        }
      }

      & h3:first-child {
        position: relative;
        right: 5rem;
      }

      & h3:last-child {
        position: relative;
        left: 5rem;
      }
    }

    .testimonial {
      grid-column: 1 / span 2;
      gap: 1.5rem;
      flex-direction: row;

      & div:nth-child(2) {
        position: relative;
        top: 1rem;
      }

      & div:last-child {
        position: relative;
        top: 2rem;
      }
    }
  }
}
