@import "config";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-mobile-top no-repeat, $bg-mobile-bottom no-repeat;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-weight: 700;
  color: $vdark-magenta;
}

h3 {
  font-weight: 500;
  color: $vdark-magenta;
}

// .container {
//   max-width: $website-width;
// }

.social-panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  .main {
    text-align: center;

    h1 {
      padding: 1rem 2rem;
      line-height: 1;
    }
    p {
      padding: 1rem;
    }
  }
  .rate {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;

    h3 {
      background: $lgray-magenta;
      padding: 1rem;
      border-radius: 10px;

      span {
        display: block;
        padding-bottom: 0.5rem;
      }
    }
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    .clients {
      background: $vdark-magenta;
      border-radius: 10px;
      padding: 2rem;
      color: $white-color;
      margin: 1rem 0;

      h3 {
        color: $white-color;
      }

      img {
        border-radius: 50%;
        width: 50px;
        float: left;
        margin-right: 1.5rem;
      }

      .client-verified {
        color: $soft-pink;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@import "media";
